<!-- Partial for navbar -->
<nav>
    <ul>
      <li id="logo"><a href="/"><img src="/images/logo.png">Home</a></li>
      <li><a href="/help">Help</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/search">Reports</a></li>
    </ul>
  </nav>