<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WokShop - About</title>
</head>
<body>
    <% include partials/navbar.ejs %>
    <div class="row">
        <div class="column"></div>
        <div class="column">
            <h1>Our Story</h1>
            <p>Here at WokShop we have a dream, that every man women and child would be able to book workshops to aquire the skills to learn how to make the perfect wok in accordance with the wishes of our Glorious Leader Kim Jung Un.</p>
        </div>
        <div class="column"></div>
      </div>
</body>
</html>