<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WokShop - Help</title>
</head>
<body>
    <% include partials/navbar.ejs %>
    <div class="row">
        <div class="column"></div>
        <div class="column">
            <h1>Have you tried killing yourself? - Canadian goverment</h1>
  
  
  
        </div>
        <div class="column"></div>
      </div>
</body>
</html>