<!DOCTYPE html>
<html>
  <head>
    <title>WokShop</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li id="logo"><a href="/index"><img src="/images/logo.png"></a></li>
        <li><a href="/help">Help</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
    <p>Welcome to the jingle</p>
  </body>
</html>
