<!-- Report page, search reports -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WokShop - Reports</title>
</head>
<body>
    <% include partials/navbar.ejs %>
    <div class="row">
        <div class="column"></div>
        <div class="column">
            <h1>Reports</h1>
            <form action="/search" method="post" id="searchForm">
                <p><label>Full Name</label>
                    <input type="String" name="fullNameSearch" placeholder="Search Full Name.....">
                </p>
                <p>
                    <label>Start Date</label>
                    <input type="date" name="startDateSearch">
                </p>
                <p>
                    <label>End Date</label>
                    <input type="date" name="endDateSearch">
                </p>
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="column"></div>
      </div>
</body>
</html>